@using BackendData
@using Microsoft.AspNetCore.Http.Extensions
@using static BackendData.Station

@{
    ViewData["Title"] = "Station";
    Station? s = new();
    Microsoft.Extensions.Primitives.StringValues queryVal;
    if (Context.Request.Query.TryGetValue("id", out queryVal))
    {
        s = await s.GetStationByIdAsync(Guid.Parse(queryVal));     
    }
    List<Charger> chargers = new();
    string stationName = string.Empty;
    string stationDetails = string.Empty;
    if (s != null)
    {
        stationName = s.Name + " - " + s.ParkingSection;
        if(s.Details != null)
        {
            stationDetails = s.Details;   
        }
        chargers = s.Chargers;
    }
    string chargerLeft = string.Empty;
    string chargerRight = string.Empty;
    if (chargers.Count > 0)
    {
        var leftCharger = chargers.SingleOrDefault(c => c.Side == SidePosition.Left);
        if (leftCharger != null)
        {
            chargerLeft = leftCharger.ChargerId.ToString();
        }

        var rightCharger = chargers.SingleOrDefault(c => c.Side == SidePosition.Right);
        if(rightCharger != null)
        {
            chargerRight = rightCharger.ChargerId.ToString();
        }
    }
    string qrCodeLeft = "https://api.qrserver.com/v1/create-qr-code/?data=" + @Context.Request.Scheme + "://" + Context.Request.Host + $"charger/?stationid={queryVal}&chargerId={chargerLeft}&size=200x200";
    string qrCodeRight = "https://api.qrserver.com/v1/create-qr-code/?data=" + @Context.Request.Scheme + "://" + Context.Request.Host + $"charger/?stationid={queryVal}&chargerId={chargerRight}&size=200x200";

    string linkLeft = $"{@Context.Request.Scheme}://{Context.Request.Host}/charger/?stationid={queryVal}&chargerId={chargerLeft}";
    string linkRight = $"{@Context.Request.Scheme}://{Context.Request.Host}/charger/?stationid={queryVal}&chargerId={chargerRight}";
}

<h1>@stationName</h1>
<b>@stationDetails</b>
<div style="position:absolute;top:80px;right:20px">
    <div style="width:100%;font-weight:bold;text-align:center">Right charger:</div>
    <a href='@linkRight' title='@linkRight'>
<img src='@qrCodeRight' /></a>
</div>

<div style="position:absolute;top:320px;right:20px">
    <div style="width:100%;font-weight:bold;text-align:center">Left charger:</div>
    <a href='@linkLeft' title='Left charger QR code'>
<img src='@qrCodeLeft' alt='Left charger QR code' title="Left charger QR code" /></a>
</div>


<hr />
<h6>Chargers:</h6>
@{
    foreach(Charger charger in chargers)
    {
        <dt>@charger.Side side - @charger.Plug</dt>
        <dd class='@charger.DisplayClass' style='width:150px'>@charger.Status</dd>
    }
}

<br />
<p>
    <a class="btn btn-primary" href="/">Back</a>
</p>