@using BackendData
@using Microsoft.AspNetCore.Http.Extensions
@using static BackendData.Station

@{
    ViewData["Title"] = "Station";
    Station? s = new();
    Microsoft.Extensions.Primitives.StringValues queryVal;
    if (Context.Request.Query.TryGetValue("id", out queryVal))
    {
        s = await s.GetStationByIdAsync(Guid.Parse(queryVal));     
    }
    List<Charger> chargers = new();
    string stationName = string.Empty;
    string stationDetails = string.Empty;
    if (s != null)
    {
        stationName = s.Name + " - " + s.ParkingSection;
        if(s.Details != null)
        {
            stationDetails = s.Details;   
        }
        chargers = s.Chargers;
    }
    string chargerLeft = string.Empty;
    string chargerRight = string.Empty;
    if (chargers.Count > 0)
    {
        var leftCharger = chargers.SingleOrDefault(c => c.Side == SidePosition.Left);
        if (leftCharger != null)
        {
            chargerLeft = leftCharger.ChargerId.ToString();
        }
        
        var rightCharger = chargers.SingleOrDefault(c => c.Side == SidePosition.Right);
        if(rightCharger != null)
        {
            chargerRight = rightCharger.ChargerId.ToString();
        }
    }

    string qrCodeLeft = "https://api.qrserver.com/v1/create-qr-code/?data=" + @Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path + "?id=" + chargerLeft + "&size=200x200";
    string qrCodeRight = "https://api.qrserver.com/v1/create-qr-code/?data=" + @Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path + "?id=" + chargerLeft + "&size=200x200";
}

<h1>@stationName</h1>
<b>@stationDetails</b>
<div style="position:absolute;top:80px;right:20px">
    <div style="width:100%;font-weight:bold;text-align:center">Right charger:</div>
<img src='@qrCodeRight' alt='Right charger QR code' title="Right charger QR code" />
</div>

<div style="position:absolute;top:320px;right:20px">
    <div style="width:100%;font-weight:bold;text-align:center">Left charger:</div>
<img src='@qrCodeLeft' alt='Left charger QR code' title="Left charger QR code" />
</div>


<hr />
<h6>Chargers:</h6>
@{
    foreach(Charger charger in chargers)
    {
    <dt>@charger.Side side - @charger.Plug</dt>
    <dd class='@charger.DisplayClass' style='width:150px'>@charger.Status</dd>
    <button class="btn btn-default" id="btnAction">Start charging</button><br /><br />
    }
}

<br />
<p>
    <a class="btn btn-primary" href="/">Back</a>
</p>